.cardcenter {
  margin-top: 80px;
  margin-left: 30%;
}
.cardwidth {
  max-width: 700px;
}
.cardheader {
  display: flex;
  justify-content: center;
}
.inputclass {
  width:25px;
  border:0;
  text-align:center;
  margin-left:4px;
  margin-right:4px;
}
