<div style="margin-top:80px">
  <mat-chip-list class="mat-chip-list" aria-label="Product Category">
    <mat-chip>Category 1</mat-chip>
    <mat-chip>Category 2</mat-chip>
  </mat-chip-list>
</div>
<mat-form-field class="searchfield">
  <input matInput type="text" [(ngModel)]="Searchvalue">
  <button mat-button *ngIf="Searchvalue" matSuffix mat-icon-button aria-label="Clear" (click)="Searchvalue=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="530px" style="margin-top:30px">
  <mat-grid-tile *ngFor="let tile of prodlist">
    <mat-card>
      <mat-card-header class="cardheader">
        <img src="https://drive.google.com/uc?export=view&id={{tile.productImage}}" style="width:230px;height:320px;" />
      </mat-card-header>
      <mat-card-content class="cardcontent">
        <br />
        <p class="fontstyle">{{tile.productName}}</p>
        <h6>{{"Price : "+ tile.productPrice }}</h6>
        <h6> {{"Available Quantity: "+tile.productQuantity}}</h6>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="Addcart(tile)">
          <mat-icon aria-hidden="false">add</mat-icon>
          Add to cart
        </button>
        <button mat-raised-button [routerLink]="['/product/', tile.productId]">More Info</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!--<p *ngIf="!prodlist"><em>Loading...</em></p>
<table class='table' *ngIf="prodlist">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Product Quantity</th>
      <th>Category ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of prodlist">
      <td>{{ prod.productId }}</td>
      <td>{{ prod.productName }}</td>
      <td>{{ prod.productPrice }}</td>
      <td>{{ prod.productQuantity }}</td>
      <td>{{ prod.catId }}</td>
      <td>
        <button mat-button (click)="Addcart(prod)">Add To Cart</button> |
        <a >View</a>
      </td>
    </tr>
  </tbody>
</table>
  -->

<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

