.cardheader {
  margin-right:40px;
}
.cardcontent {
  text-align: center;
}
.fontstyle {
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  font-weight: bold;
}
.mat-chip-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.searchfield {
  width: 200px;
  margin-left:auto;
  display:flex;
  margin-right:90px;
}
.actionbuttoncenter {
  margin-bottom: -8px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}
