<p *ngIf="!orderlist"><em>Loading...</em></p>

<div class="card">
  
  <p-table #manageOrderTable [value]="orderlist" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
           [globalFilterFields]="['orderId']">
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="manageOrderTable.filterGlobal($event.target.value, 'contains')" placeholder="Search Order ID" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width:5%">Order ID</th>
        <th style="width:6%">User</th>
        <th style="width:10%">Order Date</th>
        <th style="width:8%">Order Price</th>
        <th style="width:8%">Order Status</th>
        <th style="width:8%">Change Status</th>
        <th style="width:20%">Order Items</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{ order.orderId }}</td>
        <td><button mat-raised-button (click)="viewuser(order.uid)">Info</button></td>
        <td>{{ order.orderDate }}</td>
        <td>{{ order.orderPrice +"PKR"}}</td>
        <td>{{ order.orderStatus }}</td>
        <td>
          <mat-select (valueChange)="updatestatus(order.orderId,$event)">
            <mat-option value="Canceled">Canceled</mat-option>
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Processing">Processing</mat-option>
            <mat-option value="Shipped">Shipped</mat-option>
          </mat-select>
        </td>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Order Items
              </mat-panel-title>
            </mat-expansion-panel-header>


            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
            <tr *ngFor="let item of order['orderItems']">
              <td style="width:50%;">{{ item.productName }}</td>
              <td style="width:50%;">{{ item.quantityValue }}</td>
              <td style="width:50%;">{{ item.productPrice }}</td>
            </tr>
          </mat-expansion-panel>
        </mat-accordion>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>

  </p-table>
</div>
<!--<table style="background-color:white;" class='table' *ngIf="orderlist">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>User</th>
      <th>Order Date</th>
      <th>Order Price</th>
      <th>Order Status</th>
      <th>Change Status</th>
      <th>Order Items</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderlist">
      <td>{{ order.orderId }}</td>
      <td><button mat-raised-button (click)="viewuser(order.uid)">View</button></td>
      <td>{{ order.orderDate }}</td>
      <td>{{ order.orderPrice }}</td>
      <td>{{ order.orderStatus }}</td>
      <td>
        <mat-select (valueChange)="updatestatus(order.orderId,$event)">
          <mat-option value="Canceled">Canceled</mat-option>
          <mat-option value="Pending">Pending</mat-option>
          <mat-option value="Processing">Processing</mat-option>
          <mat-option value="Shipped">Shipped</mat-option>
        </mat-select>
        </td>
         <mat-accordion>
          <mat-expansion-panel>
           <mat-expansion-panel-header>
            <mat-panel-title>
              Order Items
            </mat-panel-title>
          </mat-expansion-panel-header>

          <tr>
      <th>Product Name</th>
      <th>Product Quantity</th>
      <th>Product Price</th>
    </tr>
    <tr *ngFor="let item of order['orderItems']">
      <td>{{ item.productName }}</td>
      <td>{{ item.quantityValue }}</td>
      <td>{{ item.productPrice }}</td>
    </tr>
    </mat-expansion-panel>
    </mat-accordion>
    </tr>
  </tbody>
</table>-->
